.nav{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px;
    border: 1px solid black;
}   

.container {
    display: flex;
    flex-wrap: wrap;
}

.animal {
    flex-basis: 20%;
    display: flex;
}


img{
    width: 250px;
}

.holder{
    display: flex;
    flex-wrap: wrap-reverse;
}

.dogs{
    flex-basis: 50%;
    display: flex;
}

.bar{
    list-style-type: none;
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    
}